<body>

<div class="cont">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Add Task</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="myForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Task</mat-label>
          <input formControlName="name" id="a" matInput placeholder="Buy Apples">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
     
    </mat-card-actions>
  </mat-card>

  <button (click)="res()"  mat-fab color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let item of list" class="output">
        <ul>
          <li>{{item}}</li>
        </ul>
      </div>
     
      
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
    
</div>
</body>

